.poster {

    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 0 51px 13px 0;
    padding: 100px 20px;

    display: flex;
    justify-content: center;

    margin-bottom: 50px;

    @media screen and (max-width: $xs) {
        padding: 20px;
    }

    &__img_content {
        padding-right: 50px;

        @media screen and (max-width: $l) {
            padding-right: 0px;
            padding-top: 40px;
        }
    }

    &--rev {
        .poster__wrapper {
            flex-direction: row-reverse;

            @media screen and (max-width: $l) {
                flex-direction: column-reverse;
            }
        }

        .poster__img_content {
            padding-right: 0px;
            padding-left: 50px;

            @media screen and (max-width: $l) {
                padding-left: 0px;
            }
        }
    }

    &__wrapper {
        max-width: 1500px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $l) {
            flex-direction: column-reverse;
        }
    }



    &__description {
        max-width: 884px;
    }

    &__main_img {
        max-width: 416px;
        width: 100%;
    }


    .description {

        &__top {
            display: flex;
            width: 100%;
            margin-bottom: 64px;

            img {
                max-width: 157px;

                margin-right: 156px;
            }

            @media screen and (max-width: $xl) {
                flex-direction: row-reverse;
                justify-content: flex-end;

                img {
                    margin-bottom: 20px;
                    margin-right: 0px;
                    margin-left: 40px;
                }
            }

            @media screen and (max-width: $xs) {
                flex-direction: column;

                margin-bottom: 30px;
            }
        }

        &__title {
            font-family: $plantinMTLight;
            font-size: 50px;
            letter-spacing: 10px;
            line-height: 60px;
            text-transform: uppercase;
            text-decoration: underline;

            @media screen and (max-width: $xxs) {
                font-size: 34px;
                line-height: 44px;
            }
        }

        &__center {
            width: 100%;
            margin-bottom: 30px;
        }

        &__bottom {
            width: 100%;
            display: flex;

            img {
                max-width: 105px;
                margin-left: 100px;
            }

            .pink_line {
                width: 261px;
                height: 7px;
                background-color: #fddfe7;
            }

            @media screen and (max-width: $xl) {
                img {
                    display: none;
                }
            }
        }

        &__special_text {
            color: $c-Black;
            font-family: $plantinMTLight;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 64.86px;
            line-height: 19.46px;
            text-transform: uppercase;

            padding: 12px 20px 44px 64px;

            @media screen and (max-width: $xs) {
                letter-spacing: 10px;
            }
        }
    }

}