.footer {
  background-color: #f8f8f8;
  padding: 50px 0;

  &__wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__social-items {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__social-item {
    margin-right: 26px;

    .social-item {
      &__link {
        display: block;
      }

      &__icon {
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__group {
    margin-right: 180px;

    &:last-child {
      margin-right: 0;
    }

  }

  &__menu {
    display: flex;
    align-items: flex-start;



    .menu {
      &__list {
        display: flex;
        flex-direction: column;
        width: 125px;
        margin-right: 50px;
        padding-right: 20px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 2px;
          height: 100%;
          background-color: $c-Dove-Gray;
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;

          &::after {
            content: none;
          }
        }
      }

      &-item {
        font-size: 9px;
        font-weight: 300;
        color: #636363;
        margin-bottom: 26px;
        text-transform: uppercase;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__newsletter {
    max-width: 570px;

    .newsletter {
      &__heading {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-decoration: underline;
        text-transform: uppercase;
        color: #818181;
        margin-bottom: 26px;
      }

      &__description {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #818181;
        margin-bottom: 30px;
      }

      &__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__conditions {
        font-size: 11px;
        font-style: italic;
        color: #b5b4b4;
        margin-top: 21px;
      }

      &__btn {
        background-color: transparent;
        font-family: $plantinMTPro;
        font-weight: 400;
        font-size: 14px;
        color: #5e5e5e;
        text-decoration: underline;
        letter-spacing: 2.92px;
        cursor: pointer;
      }
    }

    input[type="text"] {
      padding: 16px 21px;
      width: calc(100% - 138px);
      border: 1px solid #818181;
      background-color: transparent;
      font-size: 12px;
      font-weight: 400;
      color: #818181;
    }
  }
}

@media (max-width: 1600px) {
  .footer {

    &__group {

      margin-right: 80px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1440px) {
  .footer {

    &__wrapper {

      flex-wrap: wrap;
    }
  }
}

@media (max-width: 980px) {
  .footer {

    &__wrapper {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &__group {
      margin-right: 40px;
    }

    &__menu {

      flex-wrap: wrap;
      width: 100%;

      .menu {

        &__list {
          padding-bottom: 20px;

          width: calc(50% - 50px);

          &:nth-child(2n+2) {
            margin-right: 0;
            padding-right: 0;

            &::after {
              content: none;
            }
          }
        }

        &-item {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .footer {

    &__menu {

      .menu {

        &__list {

          margin-right: 0;
          padding-right: 0;

          width: 100%;

          &::after {
            content: none;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {

    &__newsletter {

      .newsletter {

        &__group {
          flex-direction: column;
          align-items: flex-start;

          input[type="text"] {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}