.header {
  // padding: 38px 0;
  background-color: #fddfe7;

  position: relative;
  z-index: 999;

  min-height: 100px;

  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 5;
  }

  &__group {
    display: flex;
    align-items: center;

  }

  &__menu {
    display: flex;
    align-items: center;

    .menu {
      &__list {
        display: flex;
        align-items: center;
      }

      &__columns {
        display: flex;
        align-items: flex-start;
        width: 100%;

      }

      &-item {
        font-size: 12px;
        letter-spacing: 2.3px;
        color: #000000;
        margin-right: 25px;
        font-weight: 400;
        padding: 43px 0;

        >a {
          text-transform: uppercase;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          .sub-menu {
            transform: translateX(0%);
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      display: flex;
      padding: 0 50px 44px;
      z-index: -1;

      left: 0;
      right: 0;
      width: 100%;
      top: 100px;

      transition: all 0.3s;

      transform: translateX(-150%);

      background-color: #ffffff;

      &--e_sklep {
        flex-wrap: wrap;
      }

      &__img {
        width: 100%;
        object-fit: contain;

        margin-bottom: 44px;

        transition: all 0.3s;
      }

      &__item {
        width: calc(25% - 37.5px);
        margin: 0 25px;

        &:first-child{
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
        }

        &:hover{
          .sub-menu__img{
            transform: scale(0.9);
          }
        }

        &--inner_list {
          display: flex;
          // flex-direction: column;
          align-items: center;
          // justify-content: center;



          a {
            text-transform: unset;
          }


          .sub-menu_list {
            padding-right: 64px;

            &:last-child {
              padding-right: 0px;
            }

            &--with_arr {
              li {
                position: relative;
                padding-right: 14px;

                &::after {
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  content: '';
                  background-image: url('./img/link_arr.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  width: 5px;
                  height: 7px;
                }
              }
            }
          }
        }
      }

      &_list {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;

        // max-height: 230px;

        &__item {
          font: $plantinMTLight;
          font-size: 13px;
          font-weight: 300;
          color: $c-Dove-Gray;
          margin-bottom: 16px;
        }
      }


    }
  }

  &__link {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 2.2px;
    color: #000000;
    text-transform: uppercase;

    &--create-account {
      margin-right: 24px;
    }
  }

  &__link-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;

    .link-icon {
      &__icon {
        width: 16px;
        height: 16px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;

        &--search {
          background-image: url(../img/search.svg);
        }

        &--account {
          background-image: url(../img/user.svg);
        }

        &--cart {
          background-image: url(../img/bag.svg);
        }
      }

      &__text {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        letter-spacing: 2.59px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__other_options {

    display: flex;
  }

  &__mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transform: translateX(-150%);
    transition: all 0.3s;

    background-color: #fddfe7;

    .menu {

      &__list {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .sub-menu {
          display: none;
        }
      }

      &-item {
        font-size: 1.6em;

        padding: 16px 0;
      }

    }

    .header__other_options {
      display: none;
    }
  }

  &__hamburger {
    width: 40px;
    height: 40px;
    z-index: 100;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    display: flex;

    svg {
      position: absolute;
      right: -15%;
      height: 100%;
      transform-origin: top right;
    }

    path {
      fill: none;
      stroke: #000000;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      --length: 24;
      --offset: -38;
      stroke-dasharray: var(--length) var(--total-length);
      stroke-dashoffset: var(--offset);
      transition: all 0.3s;

      &:nth-child(1),
      &:nth-child(3) {
        --total-length: 126.64183044433594;
      }

      &:nth-child(2) {
        --total-length: 70;
      }
    }
  }

  &--toggle {
    .header {

      &__hamburger {
        path {
          stroke: #000000;

          &:nth-child(1),
          &:nth-child(3) {
            --length: 22.627416998;
            --offset: -94.1149185097;
          }

          &:nth-child(2) {
            --length: 0;
            --offset: -50;
          }
        }
      }

      &__mobile {
        transform: translateX(0%);
      }
    }
  }
}

@media (max-width: 1800px) {
  .header__menu {
    .sub-menu__item--inner_list {
      .sub-menu_list {
        padding-right: 44px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .header {

    &__menu {

      .sub-menu {

        &--e_sklep {
          .sub-menu__item {
            width: calc(33.3% - 33px);

            &:nth-child(2) {
              margin-left: 0px;
            }

            &--inner_list {
              padding-top: 16px;
              width: 100%;
              .sub-menu_list {
  
                flex-direction: row;
  
                li {
                  margin-right: 16px;
                }
              }
            }
          }
        }
      }
      .menu {

        &__columns {

          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .header {

    &__group {

      .logo {
        max-width: 150px;
      }
    }

    &__menu {

      .sub-menu {
        padding: 0 20px 44px;
      }
    }
  }
}

@media(min-width: 1151px) {
  .header {

    &__hamburger {
      display: none;
    }
  }
}

@media (max-width: 1150px) {
  .header {

    &__menu {
      display: none;

      .sub-menu {

        &__item {

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &__mobile {
      display: flex;
    }

  }
}

@media(max-width: 640px) {
  .header {

    &__other_options {
      display: none;
    }

    &__mobile {
      .header__other_options {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .header__link-icon,
        .header__link {
          margin-right: 0;
          margin-bottom: 16px;

          font-size: 1.5em;
        }
      }
    }
  }
}