.header {
  background-color: #fddfe7;
  padding: 38px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__group {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    .menu {
      &__list {
        display: flex;
        align-items: center;
      }
      &-item {
        font-size: 12px;
        letter-spacing: 2.3px;
        color: #000000;
        text-transform: uppercase;
        margin-right: 25px;
        font-weight: 400;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .sub-menu {
      display: none;
    }
  }
  &__link {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 2.2px;
    color: #000000;
    text-transform: uppercase;
    &--create-account {
        margin-right: 24px;
    }
  }
  &__link-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
    .link-icon {
      &__icon {
        width: 16px;
        height: 16px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        &--search {
          background-image: url(../img/search.svg);
        }
        &--account {
          background-image: url(../img/user.svg);
        }
        &--cart {
          background-image: url(../img/bag.svg);
        }
      }
      &__text {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        letter-spacing: 2.59px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
